<% if Measurement.find_by(user_id: current_user.id) == nil %>
	<h1>Please update your measurements before placing an order</h1>
<% else %>
	<% if params[:measurements] == "existing" %>
		<h2>Would you like to update your measurements?</h2>
		<%= render 'layouts/edit_measurements' %>
	<% end %>
<% end %>




