<h1>Hello there</h1>
<% if current_user.measurement %>
	<h1 class="text-center"><%= link_to "Place an order", new_suit_path %></h1>
<% else %>
	<%= link_to "You need to give us your measurements", new_measurement_path, class: "text-center" %>
<% end %>



