<h1>Hello there</h1>
<% unless Measurement.find_by(user_id: current_user.id) %>
	<%= link_to "You need to give us your measurements", new_measurement_path %>
<% end %>

<h1 class="text-center"><%= link_to "Place an order", choose_measurements_path %></h1>

<p>I went to the store to buy milk.</p>