<table class = "table table-striped">
	<% @measurement.attributes.each do |name, value| %>
		<% if name != 'created_at' && name != 'id' && name != 'updated_at' && name != 'user_id' && name != 'order_id' %>
			<tr>
				<td><%= name.titleize %></td>
				<td><%= "#{value} inches" %></td>
			</tr>
		<% end %>
	<% end %>
</table>
