// Place all the styles related to the Measurements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn {
	margin-top: 10px;
}

#measurement-label {
	padding-right: 30px;
}

#measurement-input {
	width: 65px;
	padding-top: 5px;
}

