<%= form_for(@measurement, :id => @measurement.id) do |f| %>
	<table>
		<% @measurement.attributes.each do |name, value| %>
			<tr>
				<% if name != 'created_at' && name != 'id' && name != 'updated_at' && name != 'user_id' && name != 'order_id' %>
					<td><%= f.label name, id: "measurement-label"%></td>
					<td id="measurement-input"><%= f.number_field name, :step => 'any', class: "form-control" %></td>
				<% end %>
			</tr>
		<% end %>
	</table>

	<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>